@import url('buttons.css?v20210826');
@import url('dropblock.css?v20210826');
@import url('popup.css?v20210826');
@import url('spacing.css?v20210826');
@import url('forms.css?v20210826');
@import url('redactor.css?v20210826');
@import url('select2.css?v20210826');
@import url('test_take.css?v20210826');
@import url('answer.css?v20210826');
@import url('header.css?20211004');
@import url('jquery.datetimepicker.css?v20210826');
@import url('prettyCheckable.css?v20210826');
@import url('bootstrap.css?v20210826');
@import url('questions.css?v20210826');
@import url('tell_a_teacher.css?v20210826');
@import url('dashboard.css?v20210826');
@import url('new_look.css?v20210826');
@import url('question_editor.css?v20210829');
/* GENERAL */
body {
    margin:         0px;
    font-family:    'Myriad Pro', 'Arial';
}

.toolbar_wrapper:first-of-type {
    display: none;
}

.nopadding {
    padding:        0px !important;
}

#question_load td {
    border : 1px solid gray;
    padding: 10px;
}

#btnLogin.highlight {
    background:         var(--primary);
    color:              white;
}

#btnLogin.highlight:hover,
#btnLogin.highlight.active{
    background:         var(--primary);
    color:              white;
}


#background {
    position:       fixed;
    background:     url(/img/bg.png) right no-repeat #f5f5f5;
    left:           0px;
    top:            0px;
    width:          100%;
    height:         100%;
    z-index:        0;
}

/* NOTIFICATIONS */
#notifications {
    position:       fixed;
    width:          350px;
    z-index:        500;
    right:          25px;
    top:            60px;
}

#notifications .notification {
    margin-bottom:  15px;
    padding:        22px 25px 20px 60px;
    background:     url(/img/ico/notify-info.png) left center no-repeat white;
    box-shadow:     0px 5px 25px rgba(0, 0, 0, 0.3);
    border-radius:  3px;
    display:        none;
}

#notifications .notification.error {
    background:     url(/img/ico/notify-error.png) left center no-repeat #972b2b;
    color:          white;
}

#notifications .notification.warning {
    background:     url(/img/ico/notify-warning.png) left center no-repeat #c87030;
    color:          white;
}

#notifications .notification.onboardingsuccess {
    background:     url(/img/logo_1.png) 12px center no-repeat #76b827;
    color:          white;
    background-size: 40px;
}

/* PAGE LOADER */
#loading {
    position:       fixed;
    left:           50%;
    top:            50%;
    padding:        20px 20px 15px 20px;
    background:     rgba(0, 0, 0, 0.8);
    border-radius:  10px;
    margin-left:    -40px;
    margin-top:     -40px;
    z-index:        2000;
    display:        none;
}

#loading img {
    margin-bottom:  0px;
}

#page_fade {
    position:       fixed;
    background:     url(/img/bg.png) right no-repeat #f5f5f5;
    left:           0px;
    top:            0px;
    width:          100%;
    height:         100%;
    z-index:        80;
    display:        none;
}

#fade {
    position:       fixed;
    background:     rgba(0, 0, 0, 0.5);
    left:           0px;
    top:            0px;
    width:          100%;
    height:         100%;
    z-index:        110;
    display:        none;
}

/* CONTAINER */
#container {
    margin-top:     170px;
    padding:        25px;
    height: 500px;
    position: absolute;
}

#container h1 {
    font-weight:    normal;
    margin:         0px 0px 15px 0px;
}

#container #buttons {
    float:          right;
    box-shadow:     0px 1px 3px rgba(0, 0, 0, 0.2);
    background:     #eeeeee;
}

#container #buttons .btn {
    float:          left;
}

/* BLOCKS */
.block {
    margin-bottom:  20px;
    box-shadow:     0px 1px 3px rgba(0, 0, 0, 0.2);
    background:     white;
}

.block .block-head {
    text-align:     center;
    font-size:      20px;
    padding:        12px 0px 10px 0px;
    border-bottom:  1px solid #eeeeee;
}

.block .block-content {
    padding:        25px;
    overflow:       auto;
}

.block.autogheight .block-content {
    overflow:       auto;
}

.block .block-footer {
    height:         45px;
    border-top:  1px solid #eeeeee;
}

.participant {
    background:     #eeeeee;
    padding:        15px 15px 15px 15px;
    width:          200px;
    height:         20px;
    overflow:       hidden;
    margin:         5px;
    float:          left;
}

.participant.active {
    background:     #3D9D36;
    color:          white;
}

.participant.disabled_invigilator {
    color:          lightgrey;
}


div#container img,
div.block-content img {
    max-width:100% !important;
    height: auto !important;
}

#ba-mp3 { display:none !important;}

.color-indicator {
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid #333333;
}

.cookie-button {
    color: #191a17 !important;
    border: none !important;
    padding: 10px 15px 7px 15px !important;
    text-decoration: none;
    display: block;
    transition: background-color 200ms linear !important;
    font-family: "Myriad Pro", "Arial";
    font-size: 1rem!important;
}
.cookie-button:hover {
    background-color: white!important;
}

.colorcode-1 {color:#dddddd;background-color:#dddddd;}
.colorcode-2 {color:#555555;background-color:#555555;}
.colorcode-3 {color:#83DC92;background-color:#83DC92;}
.colorcode-4 {color:#248A35;background-color:#248A35;}
.colorcode-5 {color:#BD7878;background-color:#BD7878;}
.colorcode-6 {color:#A92D2D;background-color:#A92D2D;}
.colorcode-7 {color:#BDA178;background-color:#BDA178;}
.colorcode-8 {color:#BD893D;background-color:#BD893D;}
.colorcode-9 {color:#78BDA1;background-color:#78BDA1;}
.colorcode-10 {color:#3CBD89;background-color:#3CBD89;}
.colorcode-11 {color:#78ABBD;background-color:#78ABBD;}
.colorcode-12 {color:#3D9BBC;background-color:#3D9BBC;}
.colorcode-13 {color:#788BBD;background-color:#788BBD;}
.colorcode-14 {color:#3D60BC;background-color:#3D60BC;}
.colorcode-15 {color:#8778BD;background-color:#8778BD;}
.colorcode-16 {color:#5538BC;background-color:#5538BC;}
.colorcode-17 {color:#B478BD;background-color:#B478BD;}
.colorcode-18 {color:#AD39BF;background-color:#AD39BF;}
.colorcode-19 {color:#BD789F;background-color:#BD789F;}
.colorcode-20 {color:#BE2E7F;background-color:#BE2E7F;}
.colorcode-21 {color:#932362;background-color:#932362;}
.colorcode-22 {color:#932336;background-color:#932336;}
.colorcode-23 {color:#936323;background-color:#936323;}
.colorcode-24 {color:#7A9323;background-color:#7A9323;}
.colorcode-25 {color:#269323;background-color:#269323;}
.colorcode-26 {color:#238B93;background-color:#238B93;}
.colorcode-27 {color:#234F93;background-color:#234F93;}
.colorcode-28 {color:#262393;background-color:#262393;}
.colorcode-29 {color:#5E2393;background-color:#5E2393;}
.colorcode-30 {color:#7D2393;background-color:#7D2393;}
.colorcode-31 {color:#932384;background-color:#932384;}
.colorcode-32 {color:#932369;background-color:#932369;}
.colorcode-33 {color:#EC3377;background-color:#EC3377;}
.colorcode-34 {color:#EC8133;background-color:#EC8133;}
.colorcode-35 {color:#ECE633;background-color:#ECE633;}
.colorcode-36 {color:#A3EC33;background-color:#A3EC33;}
.colorcode-37 {color:#33EC47;background-color:#33EC47;}
.colorcode-38 {color:#33ECA0;background-color:#33ECA0;}
.colorcode-39 {color:#33E9EC;background-color:#33E9EC;}
.colorcode-40 {color:#3395EC;background-color:#3395EC;}
.colorcode-41 {color:#0386FA;background-color:#0386FA;}
.colorcode-42 {color:#F6FA03;background-color:#F6FA03;}
.colorcode-43 {color:#E003FA;background-color:#E003FA;}
.colorcode-44 {color:#FA7303;background-color:#FA7303;}
.colorcode-45 {color:#FA0303;background-color:#FA0303;}
.colorcode-46 {color:#03FA25;background-color:#03FA25;}
.colorcode-47 {color:#E2E3E2;background-color:#E2E3E2;}

.tablefied td,
.tablefied th {
    box-sizing:border-box;
}

.tableFixHead > *{
    box-sizing: border-box;
    border-collapse: collapse;
}
.tableFixHead {
    display: block;
    max-height: 500px;
    height: 500px;
    overflow: auto;
    table-layout: fixed;
    width:100%;
}

.tableFixHead thead, .tableFixHead tbody {
    display: table;
    width: 100%;
}

.tableFixHead tbody td, .tableFixHead thead th {
    display: inline-flex;
    box-sizing: border-box;
    align-items: end;
}

.tableFixHead tbody td {
    padding: 3px 0;
}

.tableFixHead thead th {
    font-size: 1rem;
    font-weight: bold;
}

.tableFixHead tbody tr:last-of-type td {
    padding-bottom: 1rem;
}

.checkbox-custom, .radio-custom, .number-radio {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label, .number-radio, .number-radio-label {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    cursor: pointer;
    line-height: 18px;
}

.checkbox-custom-label, .radio-custom-label, .number-radio-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before, .number-radio + .number-radio-label:before {
    content: '';
    background: var(--off-white);
    border: 1px solid var(--blue-grey);
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    text-align: center;
}

.checkbox-custom + .checkbox-custom-label:before {
    border-radius: 8px;
}

.radio-custom + .radio-custom-label:before, .number-radio + .number-radio-label:before {
    border-radius: 50%;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '';
    background: var(--primary);
    border-color: var(--primary);
}

.radio-custom:checked:hover + .radio-custom-label:after, .number-radio:checked:hover + .number-radio-label:after {
    opacity: .6;
}
.radio-custom:checked + .radio-custom-label:after, .number-radio:checked + .number-radio-label:after {
    content: '';
    background-color: var(--primary);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.number-radio:checked + .number-radio-label:after {
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
}

.checkbox-custom:hover + .checkbox-custom-label:before, .radio-custom:hover + .radio-custom-label:before, .number-radio:hover + .number-radio-label:before {
    border-color: var(--primary);
}
.checkbox-custom:checked:hover + .checkbox-custom-label.checkbox-green:before, .checkbox-custom:checked:hover + .checkbox-custom-label:before, .radio-custom:checked:hover + .radio-custom-label:before, .number-radio:checked:hover + .number-radio-label:before {
    border-color: var(--primary);
    opacity: .6;
}

.checkbox-custom:checked:disabled + .checkbox-custom-label:before, .radio-custom:checked:disabled + .radio-custom-label:before, .number-radio:checked:disabled + .number-radio-label:before {
    content: '';
    /*background: var(--primary);*/
    /*border-color: var(--primary);*/
    opacity: .6;
}

.radio-custom:disabled:checked + .radio-custom-label:after, .number-radio:disabled:checked + .number-radio-label:after {
    opacity: .6;
}

.checkbox-custom:checked + .checkbox-custom-label.checkbox-green:before {
    background: var(--cta-primary);
    border-color: var(--cta-primary);
}
.checkbox-custom:checked:disabled + .checkbox-custom-label.checkbox-green:before {
    background: var(--cta-primary);
    border-color: var(--cta-primary);
    opacity: .6;
}

.checkbox-custom-label svg, .radio-custom-label svg {
    color: var(--off-white);
    position: absolute;
    left: 5px;
    top: 7px;
}

.checkbox-custom:checked + .checkbox-custom-label svg, .radio-custom:checked + .radio-custom-label svg {
    color: white;
}

.number-radio:checked + .number-radio-label span {
    color: white;
}

.number-radio-label span {
    position: absolute;
    font-size: 12px;
    left: 9px;
    top: 6px;
    line-height: 12px;
    z-index: 2;
}

.import-label {
    font-size: 10px;
    font-weight: 700;
    padding: 6px 8px;
    line-height: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    max-height: 24px;
}

.import-label.label-blue {
    color: var(--system-base);
    background-color: var(--system-secondary);
}

.import-label.label-orange {
    color: white;
    background-color: var(--orange);
}

.import-label.label-green {
    color: white;
    background-color: var(--cta-primary);
}

.rotate_table_headings {
    display: flex;
    z-index: 3;
}
.rotate_table_headings th {
    /*padding-top:70px;*/
}

.rotate_table_headings .ed_level_col {
    justify-content: center;
}
.rotate_table_headings .ed_level_col div {
    word-break: break-word;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 3px;
}
.rotate_table_headings .ed_level_col div span{
    display: inline-block;
    line-height: 1.5rem;
    font-size: .875rem;
    max-width: 53px;
}

.ed_level_checkbox_cols {
    display: flex;
    justify-content: center;
}
.ed_level_checkbox_cols label{
    display: flex;
}

th.subject-column, td.subject-column {
    justify-content: center;
}

#add-subject-list{
    min-width:70px;
}

.note {
    color: var(--note);
    font-size: 14px;
}

.import-table-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
    padding-bottom: 50px
}

/* Works on Firefox */
.import-table-container * {
    scrollbar-width: thin;
    scrollbar-color: var(--blue-grey) white;
}

/* Works on Chrome, Edge, and Safari */
.import-table-container *::-webkit-scrollbar {
    width: 8px;
}

.import-table-container *::-webkit-scrollbar-track {
    background: white;
    margin-top: 45px;
    margin-bottom: 20px;
}

.import-table-container *::-webkit-scrollbar-thumb {
    background-color: var(--blue-grey);
    border-radius: 20px;
    border: 1px solid var(--system-secondary);
}

.import-heading {
    padding-bottom: 24px!important;
    margin-bottom: 10px;
    box-shadow: 0 3px 18px 0 rgba(77, 87, 143, 0.2);
}
.import-heading h2 {
    margin: 0;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
}

.tablefied th[sortkey] {
    position: relative;
    cursor: pointer;
    transition: ease-in-out 150ms;
}
.tablefied th[sortkey]:hover {
    color: var(--primary);
}
.tablefied th[sortkey]:active {
    color: var(--primary-hover);
}

.sorting-chevron {
    display: none;
    position: relative;
    left: 5px;
    top: 2px;
    transition: ease-in-out 150ms;
}
.sorting-chevron.desc{
    transform: scale(.75) rotate(90deg);
}
.sorting-chevron.asc{
    transform: scale(.75) rotate(-90deg);
}

.toets_afnemen_disabled {
    color: lightgrey !important;
}
.test-take-code-show-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--secondary);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.test-take-code-text-container {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.test-take-code-text-container h1, .test-take-code-text-container h5 {
    display: flex;
    margin: 0 !important;
    font-family: Nunito, sans-serif;
    color: var(--system-base);
    font-weight: 700!important;
}
.test-take-code-text-container h1 {
    font-size: 48px;
}
.test-take-code-text-container h5 {
    font-size: 20px;
    padding-right: 10px;
}
.surveillance_test_code {
    display: inline-flex;
    background: var(--secondary);
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    color: var(--system-base);
    border-radius: 3px;
    cursor: default;
}
.surveillance_test_code span {
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
}
.surveillance_test_code:hover {
    position: absolute;
    top: 0;
    transform: scale(2,2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(77, 87, 143, 0.4);
}

.guest_top {
    background: white;
    display: flex;
    width: 100%;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}

.guest_top .guest_logo {
    display: flex;
    position: relative;
}
.guest_top .guest_name {
    color: var(--system-base);
    font-weight: 700;
    font-size: 18px;
    position: relative;
    transition: ease-in-out 100ms;
}
.guest_top .guest_name #guest_user {
    display: flex;
    align-items: center;
}
.guest_top .guest_name #guest_user:hover {
    color: var(--primary);
}

.guest_top .guest_name #guest_user span {
    margin-right: 10px;
}
.guest_top .guest_name #guest_user svg {
    /*transform: rotate(90deg);*/
}

.guest_top .guest_name button {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: ease-in-out 100ms;
}

.guest_top .guest_name #guest_name_dropdown {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-radius: 10px;
    border: 1px solid var(--blue-grey);
    flex-direction: column;
    overflow: hidden;
    width: max-content;
    min-width: 220px;
    transition: ease-in-out 100ms;
}
.guest_top .guest_name #guest_name_dropdown button {
    padding: 8px 20px;
    display: inline-flex;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
}
.guest_top .guest_name #guest_name_dropdown button:hover {
    background: var(--cta-primary);
    color: white;
}
.guest_top .guest_name #guest_name_dropdown #guest_user {
    justify-content: end;
    font-weight: bold;
    color: var(--primary);
}
.guest_top .guest_name #guest_name_dropdown #guest_user:hover {
    background: white;
    color: var(--primary);
}

.discuss-test-code-box {
    display: flex;
    width: 100%;
    background: var(--secondary);
    flex-direction: column;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    padding: 8px 10px 4px 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    color: var(--system-base);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.discuss-test-code-box h1, .discuss-test-code-box h5 {
    font-weight: bold!important;
    margin: 0!important;
}
.discuss-test-code-box h1 {
    font-size: 40px;
}
.discuss-test-code-box h5 {
    font-size: 20px;
}
.student_version_tag {
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    font-family: Nunito, sans-serif;
    left: 62px;
}
.student_version_tag.OK {
    color: var(--cta-primary);
}
.student_version_tag.NEEDSUPDATE {
    color: var(--orange);
}
.student_version_tag.NOTALLOWED {
    color: var(--error-text);
}
#container[guest]{
    margin-top: 70px;
}