input[type=text],
input[type=phone],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=datetime-local],
textarea{
    outline: none;
    font-size: 14px;
    padding: 5px;
    width: 97%;
    border: 1px solid #cccccc;
    transition: all 500ms linear;
    font-family: 'Myriad Pro', 'Arial';
    -webkit-appearance: none;
    border-radius:0px;
}

select {
    background: url(/img/ico/select-dropicon.png) no-repeat right white;
    padding: 5px;
    font-size: 14px;
    outline: none;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-appearance: none;
    transition: all 500ms linear;

}

table.form th{
    width:  140px
}

.verify-ok {
    border: 1px solid #76b827 !important;
    background: #e8ffe4;
}

.verify-error {
    border: 1px solid red !important;
    background: #ffe4e4;
}