
/* HEADER */
#header {
    position:       fixed;
    width:          100%;
    background:     white;
    z-index:        100;
    display:        none;
}

#header #logo_1 {
    position: absolute;
    height: 70px;
    margin: 10px;
    cursor: pointer;
    cursor: pointer;
}

#header #logo_2 {
    position: absolute;
    height: 20px;
    margin: 15px 0px 0px 90px;
}

#header #top {
    height:         50px;
    background:     #f9f9f9;
}


#header #top #logo {
    float:          left;
    font-size:      26px;
    color:          #333333;
    margin:         11px 0px 0px 23px;
}

#header #top #user {
    float:          right;
    font-size:      26px;
    color:          #333333;
    padding:        11px 40px 7px 23px;
    background:     url(/img/header/user-dropdown.png) right no-repeat;
    cursor:         pointer;
}

#header #top #user_menu {
    position:       absolute;
    top:            50px;
    right:          0px;
    width:          250px;
    padding:        15px;
    box-shadow:     0px 15px 20px rgba(0, 0, 0, 0.1);
    display:        none;
    z-index:        110;
}

#header #top #user_menu {
    background:     #cccccc;
}

#header #menu {
    box-shadow:     0px 2px 10px rgba(0, 0, 0, 0.2);
    padding-left:   70px;
}

#header.blue {
    background:     #197cb4;
}

#header.green {
    background:     #3D9D36;
}

#header #menu .item {
    float:          left;
    padding:        16px 25px 16px 25px;
    font-size:      16px;
}

#header #menu .item .counter {
    background: red;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 3px 6px;
    font-size: 13px;
    margin-left: 5px;
    display: none;
}

#header.blue #menu .item {
    color:          #cfedf6;
}

#header.green #menu .item {
    color:          white;
}

#header #menu .item:hover:not(.noItemHover), #header #menu .item.active {
    cursor:         pointer;
    background:     url(/img/header/active-menu.png) bottom no-repeat;
}

/* TILES */
#tiles {
    position:       fixed;
    background:     rgba(255, 255, 255, 0.7);
    width:          100%;
    z-index:        80;
    top:            -20px;
    padding:        10px;
    box-shadow:     0px 2px 10px rgba(0, 0, 0, 0.4);
}

.tile {
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-right:15px;
    margin-bottom:10px;
    margin-top: 5px;
    float: left;
    padding: 10px 15px 7px 15px;
}

.tile::before {
    float: left;
    background-position: bottom left;
    background-repeat: no-repeat;
    content: "";
    display:block;
    width: 25px;
    height: 25px;
    background-size: cover;
}
.tile.tile-messages::before{
    background-image: url('/img/header/tile-messages.png');
}
.tile.tile-analyse-leerlingen::before{
    background-image: url('/img/header/tile-analyse-leerlingen.png');
}
.tile.tile-analyse-leraar::before {
    background-image: url('/img/header/tile-analyse-leraar.png');
}
.tile.tile-analyse-klassen::before{
    background-image: url('/img/header/tile-analyse-klassen.png');
}
.tile.tile-analyse-leerling::before{
    background-image: url('/img/header/tile-analyse-leerling.png');
}
.tile.tile-becijferd::before{
    background-image: url('/img/header/tile-becijferd.png');
}
.tile.tile-inzien::before{
     background-image: url('/img/header/tile-inzien.png');
 }
.tile.tile-bespreken::before{
    background-image: url('/img/header/tile-bespreken.png');
}
.tile.tile-gepland::before{
    background-image: url('/img/header/tile-gepland.png');
}
.tile.tile-nakijken::before{
    background-image: url('/img/header/tile-nakijken.png');
}
.tile.tile-afgenomen::before{
    background-image: url('/img/header/tile-afgenomen.png');
}
.tile.tile-surveilleren::before{
    background-image: url('/img/header/tile-surveilleren.png');
}
.tile.tile-questionlist::before{
    background-image: url('/img/header/tile-questionlist.png');
}
.tile.tile-testlist::before{
    background-image: url('/img/header/tile-testlist.png');
}
.tile.plus::before {
    font-family: "FontAwesome";
    content: "\f067";
    float:left;
}


.tile img {
    margin-bottom:  10px;
    margin-left:    5px;
}

.blue .tile,
.blue .defaultMenuButton{
    background:     #197cb4;
    color:          #cfedf6;
}

.green .tile {
    background:     #3D9D36;
    color:          white;
}

.tile span {
    font-size:      26px;
    margin-bottom:  14px;
}

.blue .tile:hover, .blue .tile.active {
    cursor:         pointer;
    background:     #1d93d6;
}

.green .tile:hover, .green .tile.active {
    cursor:         pointer;
    background:     #3D9D36;
}

.versionBadge {
    position:       absolute;
    right:          0px;
    top:            0px;
    background:     #3D9D36;
    color:          white;
    border-bottom-left-radius: 10px;
    padding:        2px 5px 3px 10px;
    font-size:      11px;
    font-weight:    bold;
}

.versionBadge.label-danger-blink {
    animation:blinkingBackgroundAndText 1.2s infinite;
}
@keyframes blinkingBackgroundAndText{
    0%{     background: #d9534f; color: #fff; }
    49%{    background: #d9534f; color: #fff; }
    60%{    background: #fff; color: #d9534f; }
    99%{    background: #fff; color: #d9534f; }
    100%{   background: #d9534f; color: #fff; }
}