/* nunito-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
}
/* nunito-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
}
/* nunito-600italic - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Nunito/Nunito-Italic.ttf");
}

@font-face {
  font-family: Nunito Bold;
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Nunito Regular;
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Zilla Slab Regular;
  src: url("../fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
}