
table.matrix {
    border:0px solid grey;
}
.matrix thead th {
    border:1px solid grey;
    border-bottom-width:0;
    border-left-width:1px;
    border-right-width:0;
    padding: 6px;
}
.matrix thead th:first-child {
    border-top-width:0;
    border-left-width:0;
}
.matrix thead th:last-child {
    border-right-width:1px;
}
#question_load .matrix td,
.matrix td{
    border:1px solid grey;
    border-bottom-width:0;
    border-left-width:1px;
    border-right-width:0;
    padding: 6px;
}
#question_load .matrix tr > td:last-child,
.matrix tr > td:last-child{
    border-right-width:1px;
}
#question_load .matrix tr:last-child td,
.matrix tr:last-child td{
    border-bottom-width:1px;
}

.matching_item_container {
    overflow:auto;
}
.matching_drop_container {
    margin-bottom: 5px;
    border:1px grey dotted;
    text-align: center;
    height:250px;
    width:243px
}
.matching_container {
    width: 230px;
    float:left;
    margin-right:35px;
    text-align:center;
}

.matching_item {
    background: #ddd;
    padding:10px;
    margin: 2px;
    width: 200px;
    float:left;
    cursor: move;
}

.answer_container.cito p {
    display:inline;
}
.answer_container.cito.completion_question p {
    display:block;
}

.answer_container.cito td p {
    display:block;
}
.answer_container.cito table.matrix td p {
    display:inline;
}

h1.question_type.cito {
    #display: none;
}


.multiple_choice_radio_image_container {
    display:inline-block;
    float:left;
    margin-bottom:25px;
    margin-right:35px;
}
.multiple_choice_radio_image_container_name {
    text-align:center;
}

input.multiple_choice_option_radio:disabled,
input.matrix_radio:disabled {
    visibility:hidden;
}
input.multiple_choice_option_radio + span,
input.matrix_radio + span {
    position:relative;
}
input.multiple_choice_option_radio:disabled + span:before,
input.matrix_radio:disabled + span:before{
    border:1px solid #333;
    border-radius: 12px;
    width:12px;
    height:12px;
    content:'';
    position:absolute;
    display:block;
    left:-20px;
    top:2px;
}

input.matrix_radio:disabled + span:before {
    left: -17px;
    top: 1px;
}

input.multiple_choice_option_radio:disabled:checked + span:after,
input.matrix_radio:disabled:checked + span:after{
    background-color: #333;
    border:1px solid white;
    border-radius: 6px;
    width:8px;
    height:8px;
    content:'';
    position:absolute;
    display:block;
    left:-18px;
    top:4px;
}
input.matrix_radio:disabled:checked + span:after {
    left: -15px;
    top:3px;
}

span.bracket-open:before {
    content:'[';
}
span.bracket-close:before {
    content:']';
}