@import url('./nunito.css');

:root {
    --cta-primary: #3DBB56;
    --cta-primary-mid-dark: #27973D;
    --cta-primary-dark: #006314;
    --cta-secondary: #004DF5;
    --primary: #004DF5;
    --primary-light: #e6edfa;
    --primary-hover: #4781ff;
    --secondary: #ECD900;
    --highlight-primary: #ECD900;
    --system-base: #041F74;
    --system-secondary: #CEDAF3;
    --mid-grey: #929DAF;
    --light-grey: #F0F2F5;
    --blue-grey: #C3D0ED;
    --shadow-blue: #4D578F;
    --off-white: #F9FAFF;

    /*Warning colors*/
    --teacher-Highlight-primary: #ecdb00;
    --teacher-Highlight-light: #fffcd7;
    --teacher-Highlight-midDark: #dec802;
    --teacher-Highlight-dark: #857b01;

    /*Error colors*/
    --error-bg: #FFEDEB;
    --error-border: #EBCCC8;
    --error-text: #cf1b04;

    --orange: #ff9d23;

    --menu-blue: var(--primary);
    --menu-blue-active: var(--primary-hover);
    --old-blue: #197cb4;
    --note: #6b7789;
}

.color-primary {
    color: var(--primary);
}

.color-primary-fill > g {
    fill: var(--primary);
}

.color-primary-stroke g {
    stroke: var(--primary);
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.tat-head {
    background: linear-gradient(90deg, rgba(0, 77, 245, 1) 0%, rgba(71, 129, 255, 1) 100%);
    text-align: left !important;
    color: white;
    padding: 40px !important;
    font-family: 'Nunito', sans-serif;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, -1% 100%);
    position: relative;
    min-height: 200px;
}
.tat-complete {
    clip-path: none;
    min-height: 0;
    border: 0!important;
    box-shadow: 0 3px 18px rgba(4, 31, 116, 0.3);

}
.tat-complete .tat-top-text {
    max-width: none;
}
.tat-complete, .tat-head {
    border-radius: 3px;
}
.tat-complete .close:hover {
    opacity: 60%;
}

.bold {
    font-weight: 600;
}

.tat-content a, .tat-footer a {
    text-decoration: none;
}

.tat-content a:focus {
    outline: none;
}

.tat-content a:hover, .tat-content a:active {
    color: var(--primary) !important;
}

.tat-content a:visited {
    color: var(--system-base);
}

.tat-head h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 5px;
    vertical-align: top;
}

.tat-head h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    margin: 0;
}

.tat-head h6 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0 0 8px;
}

.tat-check {
    margin-right: 5px;
    margin-top: 8px;
    vertical-align: top;
}

.body1 {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
}

.body2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--system-base);
}

.tat-top-text {
    max-width: 450px;
    position: relative;
}

.tat-head .close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.tat-head .close g {
    stroke: white;
}
.tat-head .close:hover g {
    stroke: var(--primary);
}

.tat-top-img {
    width: 100%;
    position: relative;
}

.tat-top-img img, .tat-top-img .overlay {
    position: absolute;
    right: 40px;
    top: -210px;
}

.tat-top-logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
}

.tat-usp {
    margin-left: 60px;
}

.tat-usp span {
    width: 350px;
    display: inline-block;
}

.tat-content {
    text-align: left;
    padding: 40px !important;
    font-family: 'Nunito', sans-serif;
    color: var(--system-base);
}

.tat-content .mb-4 {
    margin-bottom: 1rem;
}

.tat-content textarea + label {
    transition: 150ms ease-in-out;
}

.tat-content textarea:focus + label {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: var(--primary);
    transition: ease-in-out 150ms;
}

.tat-content label {
    font-size: 1rem;
}

.tat-content textarea {
    padding: 20px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey);
    font-size: 1rem;
    min-height: 100px;
    transition: 150ms ease-in-out;
    color: var(--system-base);
    font-family: 'Nunito', sans-serif;
    resize: none;
    width: auto;
}

.tat-content textarea:hover {
    border: 1px solid var(--primary);
    transition: 150ms ease-in-out;
}

.tat-content textarea:active, .tat-content textarea:focus {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
    transition: 150ms ease-in-out;
}

.input-group {
    display: flex;
    flex-direction: column-reverse;
}

.input-group.error {
    color: red;
}

.input-group.error textarea {
    border-color: red;
}

.tat-content .tip {
    margin: 8px 0;
    color: var(--mid-grey);
    font-size: 14px;
}

.tat-footer {
    padding: 0 40px 40px;
    border-top: none !important;
    position: relative;
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
}

.primary {
    color: var(--primary);
    fill: var(--primary);
}

.light-grey {
    color: var(--light-grey);
    fill: var(--light-grey);
}
.system-secondary {
    color: var(--system-secondary);
    fill: var(--system-secondary);
}

.button {
    border-radius: 10px;
    font-size: 1.125rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding: 0 20px 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
    padding: 0 18px 0 18px;
}

.text-button {
    min-height: 40px;
    color: var(--system-base);
    font-family: 'Nunito', sans-serif;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.text-button:hover {
    color: var(--primary);
}

.text-button:focus, .text-button:active {
    outline: none;
}

.primary-select-box{
    border-radius: 8px;
    border: solid 1px var(--primary);
    background-color: var(--off-white);
    height: 40px;
    color: var(--primary);
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.primary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled:focus {
    border: none;
}

.primary-button {
    color: white;
    background-color: rgba(0, 77, 245, 1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%, rgba(0, 77, 245, .5) 0, rgba(0, 77, 245, 0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
}

.primary-button:hover {
    background-color: rgba(71, 129, 255, 1);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.primary-button:focus {
    outline: none;
    border: none;
}
.primary-button:active {
    border: none;
}

.primary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.secondary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.text-button:disabled {
    color: var(--mid-grey)!important;
    cursor: default!important;
}
.cta-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.secondary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.secondary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.secondary-button.btn-disabled:focus {
    border: none;
}

.secondary-button {
    color: var(--system-base);
    background-color: var(--system-secondary);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
}

.secondary-button:hover {
    background-color: rgba(71, 129, 255, 1);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.secondary-button:focus {
    outline: none;
    border: none;
}

.secondary-button:active {
    border: none;
}

.cta-button {
    color: white;
    background-color: rgba(58,183,83,1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%,rgba(58,183,83,.5) 0,rgba(58,183,83,0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    transition: color 0.3s cubic-bezier(.215,.61,.355,1);
}

.cta-button:hover:enabled {
    background-color: rgb(60, 202, 86);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}

.cta-button:active {
    background: linear-gradient(90deg, rgba(57, 180, 81, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.cta-button:focus {
    background: var(--cta-primary);
    border: 2px solid var(--cta-primary-dark);
}

.cta-button:disabled {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
    color: var(--mid-grey);
}

.email-preview-body {
    position: relative;
    padding-bottom: 0;
    border: 1px solid var(--blue-grey);
    border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.25);
}

.email-preview.popup-head {
    padding: 40px !important;
    border-bottom: none !important;
}

.email-preview .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
}
.email-preview .close g {
    stroke: var(--system-base);
}
.email-preview .close:hover g,.email-preview .close:focus g,.email-preview .close:active g {
    stroke: var(--primary);
    outline: none;
}

.email-preview .tat-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 81%, -1% 100%);
}

.email-preview .tat-top-text {
    max-width: 350px;
}

.email-preview .tat-top-img img {
    top: -171px;
}

.email-preview .overlay {
    position: absolute;
    background: white;
    width: 100%;
    height: 380px;
    opacity: 50%;
    top: 0px;
    z-index: 1;
}

.email-preview-body .fixed-notification {
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    display: inline-block;
    width: 80%;
    position: absolute;
    top: -13px;
    left: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
}

.notification-shadow {
    box-shadow: 0 2px 4px 0 rgba(77, 87, 143, 0.5);
}

.email-preview-body .notification > .body {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
}

.tat-content .notification {
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    border: solid 1px;
    padding: 8px 16px;
}

.tat-content .notification > .body {
    font-size: 1rem;
    font-weight: 700;
    display: block;
    line-height: 1.5rem;
}

.popup-head .notification.error, .popup-content .notification.error {
    background: #FFEDEB;
    border: solid 1px #EBCCC8!important;
    color: #CF1B04;
    border-radius: 5px;
}

.warning {
    background-color: #FFFCD7;
    border: 1px solid #ECDB00;
    color: #857B01;
}

.warning .attention {
    fill: #857B01;
}

.email-preview-body:before {
    content: '';
    width: 50px;
    height: 50px;
    background: white;
    /*clip-path: polygon(0 0, 0% 100%, 100% 100%);*/
    border: 1px solid var(--blue-grey);
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 1;
    box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
}

.email-preview-body:after {
    content: '';
    width: 70px;
    height: 53px;
    background: white;
    position: absolute;
    top: -21px;
    right: -29px;
    transform: rotate(45deg);
    z-index: 1;
    box-shadow: inset 0 -13px 13px -19px rgba(0, 0, 0, 0.3);
}

.terug-btn {
    padding: 0 !important;
    margin-top: 13px;
}

.terug-btn > svg > path {
    stroke: var(--system-base) !important;
}

.email-preview-body .tat-usp {
    margin: 0;
}
.email-preview-body .tat-usp span {
    width: 320px;
}

#copyBtn g {
    stroke: var(--system-base);
}
#copyBtn:hover g{
 stroke: var(--primary)
}

.border-radius-bottom-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.black{
    color:black!important;
}
.divider {
    height: 3px;
    background: var(--system-base);
}
