#btnHandIn {
    float:  right;
    width:  85px;
    padding: 16px 15px 13px 15px;
    text-align: center;
}

.drawingPad,
.notePad {
    display: none;
    position: absolute;
    width:     1000px;
    height:    540px;
    left:       50%;
    top:        50%;
    margin-left: -500px;
    margin-top: -270px;
    z-index: 1100;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.multiple_choice_radio_image_container {
    display:inline-block;
    float:left;
    margin-bottom:25px;
    margin-right:35px;
}
.multiple_choice_radio_image_container_name {
    text-align:center;
}

input.multiple_choice_option_radio:disabled {
    visibility:hidden;
}
input.multiple_choice_option_radio + span {
    position:relative;
}
input.multiple_choice_option_radio:disabled + span:before {
    border:1px solid #333;
    border-radius: 12px;
    width:12px;
    height:12px;
    content:'';
    position:absolute;
    display:block;
    left:-20px;
    top:2px;
}

input.multiple_choice_option_radio:disabled:checked + span:after {
    background-color: #333;
    border:1px solid white;
    border-radius: 6px;
    width:8px;
    height:8px;
    content:'';
    position:absolute;
    display:block;
    left:-18px;
    top:4px;
}

table.matrix {
    border:0px solid grey;
}
.matrix thead th {
    border:1px solid grey;
    border-bottom-width:0;
    border-left-width:1px;
    border-right-width:0;
}
.matrix thead th:first-child {
    border-top-width:0;
    border-left-width:0;
}
.matrix thead th:last-child {
    border-right-width:1px;
}
#question_load .matrix td,
.matrix td{
    border:1px solid grey;
    border-bottom-width:0;
    border-left-width:1px;
    border-right-width:0;
    padding: 6px;
}
#question_load .matrix tr > td:last-child,
.matrix tr > td:last-child{
    border-right-width:1px;
}
#question_load .matrix tr:last-child td,
.matrix tr:last-child td{
    border-bottom-width:1px;
}

.matching_item_container {
    overflow:auto;
}
.matching_drop_container {
    margin-bottom: 5px;
    border:1px grey dotted;
    text-align: center;
    height:250px;
    width:243px
}
.matching_container {
    width: 230px;
    float:left;
    margin-right:35px;
    text-align:center;
}

.matching_item {
    background: #ddd;
    padding:10px;
    margin: 2px;
    width: 200px;
    float:left;
    cursor: move;
}
